@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Primary colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 15px;
}

body {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 2rem;
  background: var(--off-white);
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
  color: var(--dark-grayish-blue);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
}

#header nav #button__close {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  z-index: 999;
}

#header #button__open {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

#header nav {
  opacity: 0;
  z-index: -999;
  transition: all 0.3 ease-in-out;
}

#header nav.open {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 75vw;
  background-color: var(--off-white);
  padding: 1.25rem;
  opacity: 1;
  z-index: 999;
}

#header nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#header nav ul li {
  margin: 2rem 0;
}

#header nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-grayish-blue);
  cursor: pointer;
}
#header nav ul li a:hover {
  color: var(--soft-red);
}

#main__article {
  padding: 1.25rem;
  padding-top: 0;
}

#main__article h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--very-dark-blue);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main__article div:first-child article p {
  margin-bottom: 1rem;
}

#main__article article button {
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: 700;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.3rem;
  transition: all 0.3s ease-in;
}

#main__article article button:hover {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  cursor: pointer;
}

#main__article aside {
  background-color: var(--very-dark-blue);
  margin-top: 2rem;
  padding: 1.25rem 1.25rem 0;
}

#main__article aside h2 {
  color: var(--soft-orange);
}

#main__article aside article {
  padding: 1.25rem 0;
}

#main__article aside article:not(:last-child) {
  border-bottom: 0.65px solid var(--off-white);
  margin-top: 0.5rem;
}

#main__article aside h3 {
  color: var(--off-white);
  margin-bottom: 0.5rem;
}

#main__article aside h3:hover {
  color: var(--soft-orange);
  cursor: pointer;
}

/*  */

#articles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;

  padding: 1.25rem;
}

#articles article {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

#articles article img {
  width: 150px;
}

#articles article span {
  color: var(--grayish-blue);
  font-weight: 700;
  font-size: 2rem;
}

#articles article h4 {
  font-size: 1.25rem;
  color: var(--very-dark-blue);
  margin: 1rem 0;
}

/* TABLETS */
@media (min-width: 768px) {
  #articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/*DESKTOP  */
@media (min-width: 1024px) {
  #header {
    padding: 2rem 1.25rem;
  }

  #header nav {
    opacity: 1;
    z-index: auto;
    width: 100%;
  }

  #header #button__open,
  #header nav #button__close {
    display: none;
  }

  #header nav.open {
    position: relative;
    width: auto;
    background-color: transparent;
    padding: 0;
    z-index: auto;
  }

  #header nav ul {
    position: relative;
    top: 0;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }

  #header nav ul li {
  }

  #menu__button button {
    display: none;
  }

  #main__article {
    display: flex;
    gap: 2rem;
  }

  #main__article h1 {
    font-size: 3rem;
    gap: 2rem;
    place-items: centers;
  }

  #main__article > div:first-child article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin-top: 2rem;
  }

  #main__article aside {
    margin-top: 0;
  }

  #articles {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
  }

  footer {
    margin-top: 2rem;
  }
}
